*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.topbar {
    background-color: lightblue;
    margin: 0;
    height: 60px;
    flex: 0 0 auto;
}

.sections {
    display: flex; /* use flexbox for sections within container */
    flex: 1; /* take up remaining space vertically */
}

.side1{
    background-color: white;
    flex: 1; /* equal sizing according to amount of elements in container */
    padding: 20px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.side1 label {
    font-size: 40px;
    font-weight: bold;
}

.side1 input {
    margin-top: 30px;
    width: 400px;
    height: 30px;
    font-size: 20px;
}

.resultBox {
    display: none; /* initially hidden */
    background-color: lightgray;
    padding: 10px;
    height: 200px;
    width: 400px;
    margin-top: 305px;
    position: fixed;
}

.side2{
    background-color: lightgray;
    flex: 1;
    padding: 20px;
}