*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.topbar {
    background-color: lightblue;
    margin: 0;
    height: 60px;
    flex: 0 0 auto;
}

.sections {
    display: flex; /* use flexbox for sections within container */
    flex: 1; /* take up remaining space vertically */
}

.side1{
    background-color: white;
    flex: 1; /* equal sizing according to amount of elements in container */
    padding: 20px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.side1 label {
    font-size: 40px;
    font-weight: bold;
}

.side1 input {
    margin-top: 30px;
    width: 400px;
    height: 30px;
    font-size: 15px;
}

.resultBox {
    display: none; /* initially hidden */
    background-color: white;
    padding: 10px;
    height: 200px;
    width: 400px;
    margin-top: 305px;
    position: fixed;
    border: 1px solid #000;
}

.side2{
    background-color: lightgray;
    flex: 1;
    padding: 20px;
}

#results-container {
    list-style-type: none;
    padding: 0;
}

#results-container li {
    padding: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 15px;
}

#results-container li:hover {
    background: #f0f0f0;
}

#find-deals-button{
    display: none;
    width: 100px;
    height: 30px;
    position: absolute;
    background-color: lightgray;
    margin: 20px;
    bottom: 50px;
    right: 20px;
}